priority -50

extends c

priority 10

global !p
from vimsnippets import foldmarker, make_box, get_comment_format
endglobal

snippet "(\S+).cls" "test" r
int `!p snip.rv = match.group(1)`;
endsnippet

snippet "cls" "test"
class cls_test {};
endsnippet

snippet init_main "init main" b
/*
 * ${1}
 */

#include <iostream>

int main(int argc, char *argv[])
{
	${0}
	return 0;
}
endsnippet
